;; shadow-cljs configuration
{:deps true
 :builds
 {:app
  {:target :react-native
   :init-fn app.main/init
   :output-dir "target"
   :js-options {:js-package-dirs ["node_modules"]}
   :devtools {:autoload true}}}}
